* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
}

.title {
  margin: 1rem;
  font-size: 4rem;
  letter-spacing: 5px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
}

ul > li {
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
}

.form-control {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control > input {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid black;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  font-size: 2rem;

  transition: transform 0.1s ease-in;
}

button:hover {
  transform: scale(1.1);
}
